{% load staticfiles %}
<!-- burada seçilen tabın class 'ı active oluyor nasıl yapacağız bunu?
 diğer tabların içerikleri aşağıdaki gibi başlıyor:
 <div class="tab-pane fade" id="women">
 kendisi otomatik active ediyor.
 -->
<!-- Start men product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        {% include '_products_section/_single_product.html' %}
                                    </ul>
                                    <a class="aa-browse-btn" href="#">Browse all Product <span
                                            class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / men product category -->