{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Home</title>
    {% include '_head_css.html' %}
</head>
<body>
<!-- wpf loader Two -->
<div id="wpf-loader-two">
    <div class="wpf-loader-two-inner">
        <span>Loading</span>
    </div>
</div>
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
{% include '_header_section.html' %}

{% include '_menu_section.html' %}

{% include '_slider_section.html' %}

{% include '_promo_section.html' %}

{% include '_products_section/__products_section.html' %}

{% include '_banner_section.html' %}

{% include '_popular_section.html' %}

{% include '_support_section.html' %}

{% include '_latest_blog_section.html' %}

{% include '_brand_section.html' %}

{% include '_subscribe_section.html' %}

{% include '_footer_section.html' %}

{% include '_login_modal_section.html' %}

{% include '_javascript.html' %}
</body>
</html>