<!-- aşağıdaki fonksiyon django template tag içerdiği için .js dosyasına koyamıyoruz. -->
<script>

    // bu fonksiyon custom_message.js dosyasımda idi...
function showFlashMessage(message) {
    console.log("showFlashMessaje çalıştı");
    var template = "<div class='container container-alert-flash'>" +
        "<div class='col-sm-3 col-sm-offset-8'> " +
        "<div class='alert alert-success alert-dismissible' role='alert'>" +
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
        "<span aria-hidden='true'>&times;</span></button>"
        + message + "</div></div></div>";
    console.log(template)
    $("body").append(template);
    $(".container-alert-flash").fadeIn();
    setTimeout(function () {
        $(".container-alert-flash").fadeOut();
    }, 1800);

}
// bu anasayfadaki herhangi bir ürüne tıklandığında çalışan fonksiyon...
$('.aa-add-card-btn').click( function(e) {
    e.preventDefault();
    var product_id = this.dataset['productid'];
    console.log('Add to cart clicklendi, product_id:', product_id);
    $.ajax({
        type: "GET", // "POST"
        url: "{% url 'cart' %}",
        data: "item=" + product_id + "&qty=" + 1,
        success: function (data) {
            console.log('success çalıştı');
            console.log(data);
            showFlashMessage(data.flash_message);
            updateCartItemCount();
        },
        error: function (response, error) {
            // console.log(response)
            // console.log(error)
            $("#add-form").submit(); //bu çalışmaz
        }
    });
    return false;
} );


function updateCartItemCount() {
    var badge = $("#cart-count-badge");

    $.ajax({
        type: "GET",
        url: "{% url 'item_count' %}",
        success: function (data) {
            badge.text(data.count);
            console.log(data.count);

        },
        error: function (response, error) {
            console.log(response);
            console.log(error);
        }

    });

    getCartItems();

}

function getCartItems() {
    var template = '<li>' +
                        '<a class="aa-cartbox-img" href="#"><img id="product-image" src="#" alt="img"></a>' +
                            '<div class="aa-cartbox-info">' +
                               '<h4 id="some-id"><a href="#">Product Name</a></h4>' +
                                '<p><span id="adet">1</span> x <span id="fiyat">$250</span></p>' +
                            '</div>' +
                            '<a class="aa-remove-product" href="#"><span class="fa fa-times"></span></a>' +
                    '</li>';
    var cart_summary = $("#cartbox-summary");

    cart_summary.empty();
    $.ajax({
        type: "GET",
        url: "{% url 'products_api:api_variation_list' %}",
        success: function (data) {
            //console.log('itemları çektim');
            $.each(data, function(arrayID,object) {
            console.log(object);
            console.log(object.product.title);

            cart_summary.append(template);
                var new_title_id = "product"+arrayID;
                var new_image_id = "image"+arrayID;
                var new_adet_id = "adet"+arrayID;
                var new_fiyat_id = "fiyat"+arrayID;

                $('#some-id').attr('id', new_title_id);
                $('#product-image').attr('id', new_image_id);
                $('#adet').attr('id', new_adet_id);
                $('#fiyat').attr('id', new_fiyat_id);

                var product_title = $("#"+new_title_id);
                var product_image = $("#"+new_image_id);
                var product_adet = $("#"+new_adet_id);
                var product_fiyat = $("#"+new_fiyat_id);

                console.log(product_title);
                product_title.text(object.product.title);
                product_image.attr("src",object.product.micro_thumb);
                console.log(object.sale_price);
                product_fiyat.text(object.sale_price + ' ,-₺')

            });
        },
        error: function (response, error) {
            console.log(response);
            console.log(error);
        }

    })

}

$(document).ready(function () {
    updateCartItemCount();
})

</script>