{% extends "__base.html" %}
{% load staticfiles %}
{% load get_thumbnail %}

<script>
    {% block jquery %}
        function setPrice() {
            var price = $(".variation_select option:selected").attr("data-price");

            var sale_price = $(".variation_select option:selected").attr("data-sale-price");
            if (sale_price != "" && sale_price != "None" && sale_price != null) {
                $("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price + "</small></h3>");
            } else {
                $("#price").html(price);
            }
        }
        setPrice();

        $(".variation_select").change(function () {
            setPrice();
            // var img = $(".variation_select option:selected").attr("data-img")
            // $("img").attr("src", img);

        });

        // ajax add to cart
        $("#submit-btn").click(function (event) {
            event.preventDefault();
            var formData = $("#add-form").serialize();
            console.log(formData);
            $.ajax({
                type: "GET", // "POST"
                url: "{% url 'cart' %}",
                data: formData,
                success: function (data) {
                    showFlashMessage(data.flash_message);
                    updateCartItemCount();
                },
                error: function (response, error) {
                    // console.log(response)
                    // console.log(error)
                    $("#add-form").submit()
                }
            });

            // $("#add-form").submit()

        });
    {% endblock %}
</script>

{% block content %}

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src='{% static "img/fashion/fashion-header-bg-8.jpg" %}' alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>{{ object.title }}</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="{% url 'products:products' %}">Ürünler</a></li>
                    <li><a href="{{ product.get_main_category.get_absolute_url }}">{{ product.get_main_category }}</a></li>
                    <li class="active">{{ object.title }}</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->

<!-- product category -->
<section id="aa-product-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-product-details-area">
                    <div class="aa-product-details-content">
                        <div class="row">
                            <!-- Modal view slider -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="aa-product-view-slider">
                                    <div id="demo-1" class="simpleLens-gallery-container">
                                        <div class="simpleLens-container">
                                            <div class="simpleLens-big-image-container"><a
                                                    data-lens-image="{{ product|get_thumbnail:"hd"}}"
                                                    class="simpleLens-lens-image"><img
                                                    src="{{ product|get_thumbnail:"medium"}}"
                                                    class="simpleLens-big-image"></a></div>
                                        </div>
{#                                        <div class="simpleLens-thumbnails-container">#}
{#                                            <a data-big-image="img/view-slider/medium/polo-shirt-1.png"#}
{#                                               data-lens-image="img/view-slider/large/polo-shirt-1.png"#}
{#                                               class="simpleLens-thumbnail-wrapper" href="#">#}
{#                                                <img src="img/view-slider/thumbnail/polo-shirt-1.png">#}
{#                                            </a>#}
{#                                            <a data-big-image="img/view-slider/medium/polo-shirt-3.png"#}
{#                                               data-lens-image="img/view-slider/large/polo-shirt-3.png"#}
{#                                               class="simpleLens-thumbnail-wrapper" href="#">#}
{#                                                <img src="img/view-slider/thumbnail/polo-shirt-3.png">#}
{#                                            </a>#}
{#                                            <a data-big-image="img/view-slider/medium/polo-shirt-4.png"#}
{#                                               data-lens-image="img/view-slider/large/polo-shirt-4.png"#}
{#                                               class="simpleLens-thumbnail-wrapper" href="#">#}
{#                                                <img src="img/view-slider/thumbnail/polo-shirt-4.png">#}
{#                                            </a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                            <!-- Modal view content -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="aa-product-view-content">
                                    <h3>{{ object.title }}</h3>
                                    <div class="aa-price-block">
                                        <span class="aa-product-view-price" id='price'>
                                            {% if object.variation_set.first.sale_price %}
                                                {{ object.variation_set.first.sale_price }}
                                                <small class='og-price'>{{ object.variation_set.first.price }}</small>
                                            {% else %}
                                                {{ object.variation_set.first.price }}
                                            {% endif %} ,-₺
                                        </span>
                                        <p class="aa-product-avilability">Stok Durumu: <span>10+</span></p>
                                    </div>
{#                                    {% autoescape off %}#}
{#                                        <p>{{ object.description|truncatechars:150 }}</p>#}
{#                                    {% endautoescape %}#}
                                    <div class="aa-prod-quantity">
                                        <form action="">
                                            <select id="" name="">
                                                <option selected="1" value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                                <option value="3">4</option>
                                                <option value="4">5</option>
                                                <option value="5">6</option>
                                            </select>
                                        </form>
                                        <p class="aa-prod-category">
                                            Kategori: <a href="{{ product.get_main_category.get_absolute_url }}">{{ product.get_main_category }}</a>
                                        </p>
                                    </div>
                                    <div class="aa-prod-view-bottom">
                                        <a class="aa-add-to-cart-btn" href="#">Sepete At</a>
{#                                        <a class="aa-add-to-cart-btn" href="#">Wishlist</a>#}
{#                                        <a class="aa-add-to-cart-btn" href="#">Compare</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aa-product-details-bottom">
                        <ul class="nav nav-tabs" id="myTab2">
                            <li><a href="#description" data-toggle="tab">Ürün Tanımı</a></li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="description">
                                {% autoescape off %}
                                <p>{{ object.description }}</p>
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    <!-- Related product -->
                    <div class="aa-product-related-item">
                        <h3>Benzer Ürünler</h3>
                        <ul class="aa-product-catg aa-related-item-slider">
                            <!-- start single product item -->
                            {% for product in related %}
                                {% include "products/_single_product.html" with product=product price="True" %}
                            {% endfor %}
                        </ul>
                        <!-- quick view modal -->
                        {% include "products/_quick_view_modal.html" %}
                        <!-- / quick view modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / product category -->

{% endblock %}
