{% load get_thumbnail %}

<!-- start single product item -->
<li>
    <figure>
        {% if product|get_thumbnail:"medium" %}
        <a class="aa-product-img" href='{{ product.get_absolute_url }}'>
            <img id='img' class='img-responsive' src='{{ product|get_thumbnail:"medium"}}'
            alt="{{ product.title|lower }} img" />
        </a>
        {% endif %}
        <a class="aa-add-card-btn" href="#"><span
                class="fa fa-shopping-cart"></span>Add To Cart</a>
        <figcaption>
            <h4 class="aa-product-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
            {% if product.variation_set.first.sale_price %}
                <span class="aa-product-price">{{ product.variation_set.first.sale_price }},-₺</span>
                <span class="aa-product-price"><del>{{ product.price }},-₺</del></span>
            {% else %}
                <span class="aa-product-price">{{ product.price }},-₺</span>
            {% endif %}
        </figcaption>
    </figure>
    <div class="aa-product-hvr-content">
{#        <a href="#" data-toggle="tooltip" data-placement="top"#}
{#           title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>#}
{#        <a href="#" data-toggle="tooltip" data-placement="top"#}
{#           title="Compare"><span class="fa fa-exchange"></span></a>#}
        <a href="#" data-toggle2="tooltip" data-placement="top"
           title="Quick View" data-toggle="modal"
           data-target="#quick-view-modal"
           data-title="{{ product.title }}"
           data-url="{{ product.get_absolute_url }}"
           data-description="{{ product.description|truncatechars:200}}"
           data-imagehd = '{{ product|get_thumbnail:"hd"}}'
           data-imagesd = '{{ product|get_thumbnail:"sd"}}'
           data-imagemedium = '{{ product|get_thumbnail:"medium"}}'
           data-imagemicro = '{{ product|get_thumbnail:"micro"}}'
           data-category = "{{ product.get_main_category }}"
           data-category_url = "{{ product.get_main_category.get_absolute_url }}"
        ><span
                class="fa fa-search"></span></a>
    </div>
    <!-- product badge -->
    <span class="aa-badge aa-sale" href="#">SALE!</span>
</li>