{% load staticfiles %}

<!-- footer -->
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <h3>istebu.com</h3>
                                    <ul class="aa-footer-nav">
                                        <li><a href="pages/hakkimizda/">Hakkımızda</a></li>
                                        <li><a href="{% url 'hakkimizda' %}">About</a></li>

                                        <li><a href="#">Bizden Haberler</a></li>
                                        <li><a href="#">Güvenli Alışveriş</a></li>
                                        <li><a href="#">Gizlilik Politikamız</a></li>
                                        <li><a href="#">İletişim</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Sipariş</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Sipariş Takibi</a></li>
                                            <li><a href="#">Sepetim</a></li>
                                            <li><a href="#">Kampanyalar</a></li>
                                            <li><a href="#">Fırsatlar</a></li>
                                            <li><a href="#">Özel Ürünler</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Yardım</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="#">Müşteri Hizmetleri</a></li>
                                            <li><a href="#">Sık Sorulan Sorular</a></li>
                                            <li><a href="#">Arıza Formu</a></li>
                                            <li><a href="#">İade Formu</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">
                                        <h3>Bize Ulaşın</h3>
                                        <address>
                                            <p> Perpa Ticaret Merkezi A Blok Kat:4-5 No:95-97 Şişli/İSTANBUL</p>
                                            <p><span class="fa fa-phone"></span>(212) - 220 9069</p>
                                            <p><span class="fa fa-envelope"></span>info@istebu.com</p>
                                        </address>
                                        <div class="aa-footer-social">
                                            <a href="https://www.facebook.com/ishtebu"><span class="fa fa-facebook"></span></a>
                                            <a href="https://twitter.com/ishtebu"><span class="fa fa-twitter"></span></a>
{#                                            <a href="#"><span class="fa fa-google-plus"></span></a>#}
{#                                            <a href="#"><span class="fa fa-youtube"></span></a>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->
    <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <p>Designed by <a href="http://www.markups.io/">MarkUps.io</a></p>
                        <div class="aa-footer-payment">
                            <span class="fa fa-cc-mastercard"></span>
                            <span class="fa fa-cc-visa"></span>
                            <span class="fa fa-paypal"></span>
                            <span class="fa fa-cc-discover"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->